.map-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map-canvas {
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.map-course {
    position: absolute;
    height: 54px;
    top: 0;
    right: 0;
    left: 60%;
    margin: 0;
    padding: 10px;
}

.map-route {
    overflow: scroll;
    position: absolute;
    top: 54px;
    right: 0;
    bottom: 54px;
    left: 60%;
    margin: 0;
    padding: 10px;
}

.map-search {
    position: absolute;
    height: 54px;
    right: 0;
    bottom: 0;
    left: 60%;
    margin: 0;
    padding: 10px;
}

#add-marker-btn {
    margin-left: 5px;
}

#route-list {
    margin: 0px;
}
