<div id="info-window-name">
  <%= link_to tourist_spot.name, tourist_spot %>
</div>

<div id="info-window-picture">
  <% if tourist_spot.picture.present? %>
    <%= image_tag(tourist_spot.picture.thumb.url) %>
  <% else %>
    <%= image_tag("no_image.jpg") %>
  <% end %>
</div>

<div id="info-wondow-point">
  <%= button_tag "経路に追加", id: "btn-add-route", onclick: "addRoute('#{tourist_spot.name}',
    #{tourist_spot.latitude}, #{tourist_spot.longitude})" %>
</div>
