<div class="map_container">
  <div id="map" class="map_canvas"></div>
</div>

<ul id="route-list"></ul>

<%= button_tag "経路を検索する", class: "btn btn-primary", onclick: "searchRoute()" %>

<script type="text/javascript">
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();

    function searchRoute() {
      var origin      = new google.maps.LatLng(33.56, 130.19);
      var destination = new google.maps.LatLng(33.58, 130.12);
      var request = {
          origin:      origin,
          destination: destination,
          travelMode:  google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng(33.56, 130.19));
      handler.getMap().setZoom(12);
      directionsDisplay.setMap(handler.getMap());
    });

    function addRoute(spot_name, spot_lat, spot_long){
      var li = $('<li>').text(spot_name + "(" + spot_lat.toString()
      + ", " + spot_long.toString() + ")");
      $('#route-list').append(li);
    }


</script>
