<div class="map-container">
  <div id="map" class="map-canvas"></div>
  <div class="map-route">
    <h4>- 経路リスト -</h4>
    <ul id="route-list" class="list-group"></ul>
    <%= button_tag "地図上から選択", id: "add-marker-btn", onclick: "addMarker()" %>
  </div>
  <div class="map-search">
    <%= button_tag "経路を検索する", id: "search-btn", class: "btn btn-primary", onclick: "searchRoute()", disabled: true %>
  </div>
</div>


<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng(33.56, 130.19));
      handler.getMap().setZoom(12);
      handler.getMap().setOptions({ draggableCursor: "default" });
      google.maps.event.addListener(handler.getMap(), "click", mapListener);;
      directionsDisplay.setMap(handler.getMap());
    });
</script>

<%= javascript_include_tag "map.js" %>
