<div class="map_container">
  <div id="map" class="map_canvas"></div>
</div>

<ul id="route-list"></ul>

<%= button_tag "地図上から選択", id: "add-marker-btn", onclick: "addMarker()" %>

<%= button_tag "経路を検索する", id: "search-btn", class: "btn btn-primary", onclick: "searchRoute()", disabled: true %>

<script type="text/javascript">
    var rendererOptions = {
      suppressMarkers : true
    }
    var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
    var directionsService = new google.maps.DirectionsService();

    function searchRoute() {
      var points = $('#route-list li');

      if (points.length >= 2){
        var origin;
        var destination;
        var waypoints = [];

        for (var i = 0; i < points.length; i++) {
            points[i] = new google.maps.LatLng($(points[i]).attr("data-lat"), $(points[i]).attr("data-long"));
          if (i == 0){
            origin = points[i];
          } else if (i == points.length-1){
            destination = points[i];
          } else {
            waypoints.push({ location: points[i], stopover: true });
          }
        }
        var request = {
            origin:      origin,
            destination: destination,
            waypoints: waypoints,
            travelMode:  google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }
    }

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng(33.56, 130.19));
      handler.getMap().setZoom(12);
      google.maps.event.addListener(handler.getMap(), "click", mapListener);;
      directionsDisplay.setMap(handler.getMap());
    });

    var map = handler.getMap();
    var spotMarkers = [];
    var markerId = 0;
    var markerMode= false;

    function mapListener(event){
      if (markerMode) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        var roundLat = Math.round(lat * 1000)/1000;
        var roundLng = Math.round(lng * 1000)/1000;
        var marker = new google.maps.Marker({
             position: event.latLng,
            });
        marker.setMap(map);
        spotMarkers.push(marker);
        addRoute("選択地点 (" + roundLng.toString() + ", " + roundLng.toString() + ")", lat, lng, markerId);
        markerId = markerId + 1;
        markerMode = false;
      }
    }

    function addMarker(){
      if(!markerMode) {
        markerMode = true;
      }
    }

    function addRoute(name, lat, lng, marker_id){
      var li = $('<li>').text(name);
      $(li).attr("data-lat", lat.toString());
      $(li).attr("data-long", lng.toString());
      var btn = $('<button>').text("×");
      $(btn).addClass("delete-btn");
      if (marker_id != null && marker_id != undefined ) {
        $(btn).addClass("marked");
        $(btn).attr("data-marker-id", marker_id.toString());
      }
      $('#route-list').append($(li).append(btn));
      checkDisabled();
    }

    function checkDisabled() {
      var listSize = $('#route-list li').length;
      if (listSize == 2) {
        $('#search-btn').removeAttr("disabled");
      } else if (listSize == 1) {
        $('#search-btn').attr("disabled", "true");
      }
    }

    $('#route-list').on("click", ".marked", function() {
      var id = $(this).attr("data-marker-id");
      spotMarkers[id].setMap(null);
    });

    $('#route-list').on("click", ".delete-btn", function() {
      directionsDisplay.setDirections({routes: []});
      $(this).parents('li').remove();
      checkDisabled();
    });


</script>
