<div class="map_container">
  <div id="map" class="map_canvas"></div>
</div>

<ul id="route-list"></ul>

<%= button_tag "経路を検索する", class: "btn btn-primary", onclick: "searchRoute()" %>

<script type="text/javascript">
    var rendererOptions = {
      suppressMarkers : true
    }
    var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
    var directionsService = new google.maps.DirectionsService();

    function searchRoute() {
      var points = $('#route-list li');

      if (points.length >= 2){
        var origin;
        var destination;
        var waypoints = [];

        for (var i = 0; i < points.length; i++) {
            points[i] = new google.maps.LatLng($(points[i]).attr("data-lat"), $(points[i]).attr("data-long"));
          if (i == 0){
            origin = points[i];
          } else if (i == points.length-1){
            destination = points[i];
          } else {
            waypoints.push({ location: points[i], stopover: true });
          }
        }
        var request = {
            origin:      origin,
            destination: destination,
            waypoints: waypoints,
            travelMode:  google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }
    }

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng(33.56, 130.19));
      handler.getMap().setZoom(12);
      directionsDisplay.setMap(handler.getMap());
    });

    function addRoute(spot_name, spot_lat, spot_long){
      var li = $('<li>').text(spot_name);
      $(li).attr("data-lat", spot_lat.toString());
      $(li).attr("data-long", spot_long.toString());
      var btn = '<button class="delete-btn">×</button>';
      $('#route-list').append($(li).append(btn));
    }

    $('#route-list').on("click", ".delete-btn", function() {
      $(this).parents('li').remove();
    });


</script>
