<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">ItoshimaApp</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Map", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
