<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ItoshimaApp", root_path , class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Map", map_path %></li>
      </ul>
    </nav>
  </div>
</header>
